<h1 class="header">Tamoura Script</h1>


<mat-card class="mat-elevation-z8">

    <mat-card-header>

        <mat-card-title>Editor</mat-card-title>

        <mat-card-subtitle>write your code here</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
      <textarea #codeInput rows="8" ></textarea>
    </mat-card-content>
    
    <mat-card-actions align="end">
        <button mat-stroked-button class="analyze-button" (click)='anaylze(codeInput.value)' >Analyze</button>
        <button mat-stroked-button class="parse-button" (click)='parse()' [disabled]="!isAnalyzed">Parse</button>
    </mat-card-actions>

</mat-card>

<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Output</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  
    <mat-tab-group>
      <mat-tab label="Token generator">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="tokenName">
            <th mat-header-cell *matHeaderCellDef> Lexeme </th>
            <td mat-cell *matCellDef="let element"> {{element.tokenName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="lineNumber">
            <th mat-header-cell *matHeaderCellDef> Line Number</th>
            <td mat-cell *matCellDef="let element"> {{element.lineNumber}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="tokenType">
            <th mat-header-cell *matHeaderCellDef> Class </th>
            <td mat-cell *matCellDef="let element"> {{element.tokenType}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        </mat-tab>
        <mat-tab label="Parse Tree">
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
              <span matBadge="4" matBadgeOverlap="false">Error</span>
          </ng-template>
        </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>